:root {
  --body-color: #000000;
  --link-color: #39b2b1;
  --link-hover: #2a8585;
  --ftm-red: #dd3230;
  --ftm-red-low-opacity: #dd33307c;
  --ftm-green: #198400;
  --ftm-grey: #f6f6f6;
  --ftm-blue: #d1e8ea;
  --form-grey: #8f8f8f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans'), local('IBMPlexSans'),
    url('https://www.ftm.nl/assets/fonts/IBM_Plex_Sans_400.woff2')
      format('woff2'),
    url('https://www.ftm.nl/assets/fonts/IBM_Plex_Sans_400.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'),
    url('https://www.ftm.nl/assets/fonts/IBM_Plex_Sans_600.woff2')
      format('woff2'),
    url('https://www.ftm.nl/assets/fonts/IBM_Plex_Sans_600.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

.Questions,
.Start {
  margin: 2em 2em 0em 2em;
}

@media screen and (min-width: 1200px) {
  .Questions,
  .Start {
    margin: 2em 20em 0em 20em;
  }
}

p,
h2 {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: medium;
}

h1,
h3 {
  font-family: 'Open Sans Condensed', sans-serif;
}

.question-text {
  display: flex;
  justify-content: center;
}

.answer-section {
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  font-family: 'IBM Plex Sans';
  padding: 1em 2em;
  border: none;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline-style: none;
}

.button {
  display: inline-block;
  display: flex;
  justify-content: center;
}

.button button {
  margin: 0em 0em -0.1em 3em;
  color: var(--form-grey);
  width: 12em;
  background: transparent;
  border: 2px var(--form-grey) solid;
  padding: 1em 2em;
  text-align: left;
  height: 52px;
}

.checkBtns {
  display: flex;
  justify-content: space-between;
  position: absolute;
  max-width: 30em;
  width: 80%;
  bottom: 10%;
}

.nextBtn,
.clickNext {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nextBtn,
.clickNext,
.C-nextBtn {
  text-transform: uppercase;
  background-color: var(--ftm-red);
  color: white;
  width: 10em;
  font-weight: bold;
  margin-top: 2em;
}

.clickNext {
  background-color: var(--ftm-red-low-opacity);
}

.endBtn {
  width: 10em;
  margin-top: 2em;
}

.nextBtn:hover {
  background-color: var(--ftm-red);
}

.prevBtn {
  text-transform: uppercase;
  color: white;
  width: 10em;
  background-color: var(--form-grey);
  margin-top: 2em;
}

/* STYLING FOR THE FORM TABEL */
.cls-1 {
  display: inline-block;
  position: absolute;
  width: 4em;
  height: 4em;
}

.cls-2 {
  fill: none;
  stroke-linecap: round;
  stroke-width: 4.5px;
  padding-left: 1em;
}

.viewRed .cls-2 {
  stroke: var(--ftm-red);
}

.cls-3 {
  fill: transparent;
}

.cls-12,
.cls-14 {
  fill: #fff;
}

.cls-12 {
  stroke: var(--form-grey);
  stroke-width: 2px;
}

.cls-13 {
  fill: var(--form-grey);
}

.cls-15 {
  stroke: none;
}

.cls-16 {
  fill: none;
}

.istrue .cls-2 {
  stroke: var(--ftm-green);
}
