:root {
  --body-color: #000000;
  --link-color: #39b2b1;
  --link-hover: #2a8585;
  --ftm-red: #dd3230;
  --ftm-red-low-opacity: #dd33307c;
  --ftm-green: #198400;
  --ftm-grey: #f6f6f6;
  --ftm-dark-grey: #292f32;
  --ftm-blue: #d1e8ea;
  --form-grey: #8f8f8f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
.App,
.Start,
body,
#root {
  height: 100%;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans'), local('IBMPlexSans'),
    url('https://www.ftm.nl/assets/fonts/IBM_Plex_Sans_400.woff2')
      format('woff2'),
    url('https://www.ftm.nl/assets/fonts/IBM_Plex_Sans_400.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'),
    url('https://www.ftm.nl/assets/fonts/IBM_Plex_Sans_600.woff2')
      format('woff2'),
    url('https://www.ftm.nl/assets/fonts/IBM_Plex_Sans_600.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'),
    url('https://www.ftm.nl/assets/fonts/Open-Sans-Condensed.woff2')
      format('woff2'),
    url('https://www.ftm.nl/assets/fonts/Open-Sans-Condensed.woff')
      format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.Loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./images/main.jpg);
  background-size: cover;
}

.Loading .css-4f1jw3 {
  margin-top: 40%;
  margin-bottom: 2em;
}

.ProgressBar {
  position: fixed;
  top: 0;
}

.time {
  text-align: right;
  margin: 2em 0em;
}

.time span {
  font-weight: bold;
  font-size: 4em;
}

/* Q & A PART */
.ShowImg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ShowImg p {
  color: var(--form-grey);
  font-style: italic;
  font-weight: 200;
}

img {
  width: 50%;
  max-width: 20em;
  margin-bottom: 0em;
}

.mainimg {
  width: 100%;
  max-width: none;
}

.Start,
.Check {
  background-image: url(./images/main.jpg);
  background-size: cover;
  height: 100%;
}

.startSection,
.checkSection {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
}
.Questions,
.startSection,
.checkSection {
  padding: 2em 2em 0em 2em;
}

.colortrue {
  color: var(--ftm-green);
}
.colorfalse {
  color: var(--ftm-red);
}

.CheckAns {
  display: flex;
  flex-direction: column;
  margin: 1em 1em 1em 1em;
}

.checkBtns {
  display: flex;
  justify-content: space-around;
  position: relative;
  max-width: 30em;
  left: 50%;
  transform: translate(-50%, -50%);
}
.checkBtns button,
.checkBtns .btn {
  margin: 0em 1em;
}

p,
h2 {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: medium;
}

.question-section {
  display: flex;
  flex-direction: column;
  margin: 2em;
}

.question-section p {
  background-color: var(--ftm-blue);
  padding: 1em;
}

.question-text {
  margin-bottom: 1em;
}

h1,
h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 0.5em;
}

.question-text {
  display: flex;
  justify-content: center;
}

button,
.btn {
  font-family: 'IBM Plex Sans';
  padding: 1em 2em;
  border: none;
}

button:hover,
.btn:hover {
  cursor: pointer;
}

button:focus,
.btn:focus {
  outline-style: none;
}

.button {
  display: flex;
  justify-content: center;
}

.button button {
  margin: 0em 0em -0.1em 3em;
  color: var(--form-grey);
  width: 15em;
  background: transparent;
  border: 2px var(--form-grey) solid;
  padding: 1em 2em;
  text-align: left;
  height: 52px;
}

.checkBtns {
  position: relative;
}

.nextBtn,
.clickNext {
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nextBtn,
.clickNext,
.C-nextBtn {
  text-transform: uppercase;
  background-color: var(--ftm-red);
  color: white;
  width: 10em;
  font-weight: bold;
  margin-top: 2em;
}

.clickNext {
  background-color: var(--ftm-red-low-opacity);
}

.CheckForm {
  max-width: 13em;
}

.endBtn {
  width: 10em;
  margin-top: 2em;
}

.nextBtn:hover {
  background-color: var(--ftm-red);
}

.prevBtn {
  text-transform: uppercase;
  color: white;
  width: 10em;
  background-color: var(--form-grey);
  margin-top: 2em;
}

/* GO TO CHECK PAGE */

.gotocheck {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* STYLING FOR THE FORM TABEL */
.cls-1 {
  display: inline-block;
  position: absolute;
  width: 4em;
  height: 4em;
}

.cls-2 {
  fill: none;
  stroke-linecap: round;
  stroke-width: 4.5px;
  padding-left: 1em;
}

.viewRed .cls-2 {
  stroke: var(--ftm-red);
}

.cls-3 {
  fill: transparent;
}

.cls-12,
.cls-14 {
  fill: #fff;
}

.cls-12 {
  stroke: var(--form-grey);
  stroke-width: 2px;
}

.cls-13 {
  fill: var(--form-grey);
}

.cls-15 {
  stroke: none;
}

.cls-16 {
  fill: none;
}

.istrue .cls-2 {
  stroke: var(--ftm-green);
}

.check-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Start,
.Check button {
  position: relative;
}

.Start p {
  margin-bottom: 2em;
}

.Check h1 {
  margin-bottom: 2em;
}

.answer-section {
  padding-bottom: 7em;
}

.startSection,
.checkSection {
  padding-bottom: 0em;
}

.btnSection {
  position: fixed;
  background-color: var(--ftm-dark-grey);
  left: 0;
  bottom: 0;
  height: 15%;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .answer-section {
    padding-bottom: 2.5em;
  }
  .Questions,
  .startSection,
  .checkSection {
    margin: 2em 10em 0em 10em;
  }
  .CheckAns {
    margin: 2em 10em 0em 10em;
  }

  .checkBtns {
    bottom: 100%;
  }

  .nextBtn,
  .clickNext {
    margin-top: 4em;
    position: relative;
  }

  .question-text {
    margin-bottom: 2em;
  }
  .barchartdiv {
    margin-bottom: 5em;
  }
  .btnSection {
    position: relative;
    background-color: transparent;
    left: none;
    bottom: none;
    height: 0%;
    width: 100%;
  }
  .ans-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 100%;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 800px) {
  .Questions,
  .startSection,
  .checkSection {
    margin: 2em 15em 0em 15em;
  }
  .CheckAns {
    margin: 2em 15em 0em 15em;
  }
}

@media screen and (min-width: 1000px) {
  .Questions,
  .startSection,
  .checkSection {
    margin: 2em 20em 0em 20em;
  }
  .CheckAns {
    margin: 2em 20em 0em 20em;
  }

  .Check .nextBtn {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .Check .nextBtn {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1200px) {
  .Questions,
  .startSection,
  .checkSection {
    margin: 2em 25em 0em 25em;
  }
  .CheckAns {
    margin: 2em 25em 0em 25em;
  }
}

@media screen and (min-width: 1600px) {
  .CheckAns {
    margin: 2em 35em 0em 35em;
  }

  .Questions,
  .startSection,
  .checkSection {
    margin: 2em 35em 0em 35em;
  }
}

/*------------------------
LEGENDA STYLING BARCHART
--------------------------*/

.legenda {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.legenda-rect {
  height: 1em;
  width: 1em;
  background-color: var(--ftm-red);
  margin-right: 0.5em;
}

.imgPart {
  text-align: center;
  height: 20em;
  width: 100%;
}

.imgPart img {
  height: 100%;
  width: auto;
}
